html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: 'NanumBarunGothic', sans-serif;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  width: 1280px;
  margin: 0 auto;
}

.hide {
  display: none;
}
