html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div {
  display: block;
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

html {
  font-size: 10px; }

body {
  font-size: 1.4rem;
  font-family: 'NanumBarunGothic', sans-serif; }

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.wrap {
  max-width: 1280px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }
  @media (max-width: 1280px) {
    .wrap {
      width: 100%;
      padding: 0 20px; } }

.hide {
  display: none; }

.loading {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 10; }
  .loading .load {
    width: 50%;
    height: 100vh;
    background-color: black; }
  .loading .left {
    animation: swipe-left .5s 1s ease forwards; }
  .loading .right {
    animation: swipe-right .5s 1s ease forwards; }
  .loading::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
    width: 5px;
    height: 100vh;
    background-color: white;
    animation: center-bar .5s ease forwards; }

@keyframes center-bar {
  0% {
    height: 0; }
  90% {
    height: 100vh;
    opacity: 0; }
  100% {
    height: 100vh;
    opacity: 0; } }

@keyframes swipe-left {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }

@keyframes swipe-right {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(100%); } }

header .header__top {
  display: flex;
  align-items: center;
  height: 36px;
  background-color: #003876; }
  header .header__top .wrap {
    display: flex;
    justify-content: flex-end; }
    header .header__top .wrap .header__top--login {
      display: flex;
      justify-content: flex-start;
      color: white; }
      header .header__top .wrap .header__top--login li {
        margin-left: 10px;
        color: white; }

header nav {
  position: relative;
  border-bottom: 1px #ccccce solid; }
  header nav h1.logo {
    min-width: 171px;
    height: 52px;
    margin-right: 200px;
    background: url("../images/ir_common.png") 0 5px no-repeat; }
    header nav h1.logo a {
      display: block;
      height: 100%; }
      header nav h1.logo a .ir__txt {
        position: absolute;
        left: -9999px;
        top: auto;
        height: 1px;
        overflow: hidden; }
  header nav .mobile__wrap {
    width: 100%; }
    header nav .mobile__wrap--header {
      display: none; }
    header nav .mobile__wrap ul.header__nav {
      width: 100%; }
      header nav .mobile__wrap ul.header__nav > li {
        width: 20%;
        margin: 0 20px;
        text-align: center; }
        header nav .mobile__wrap ul.header__nav > li.on {
          border-bottom: 1px #003876 solid; }
          header nav .mobile__wrap ul.header__nav > li.on .header__fullSub {
            display: block; }
        header nav .mobile__wrap ul.header__nav > li > a {
          display: block;
          padding: 30px 0;
          font-size: 1.8rem; }
        header nav .mobile__wrap ul.header__nav > li .header__fullSub {
          display: none;
          position: absolute;
          left: 0;
          top: 100%;
          width: 100%;
          margin-top: 1px;
          background-color: white;
          border-bottom: 1px #ccccce solid;
          z-index: 3; }
          header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap {
            position: relative;
            display: flex;
            justify-content: flex-start;
            border-left: 1px #eaeaec solid;
            border-right: 1px #eaeaec solid;
            padding: 50px 20px; }
            header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub {
              width: 14%; }
              header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li > a {
                color: #0067b3;
                font-size: 1.8rem; }
              header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li ul {
                margin-top: 20px; }
                header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li ul > li {
                  margin-bottom: 15px; }
                  header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li ul > li > a {
                    cursor: pointer; }
                    header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li ul > li > a:hover {
                      text-decoration: underline;
                      color: #0067b3; }
            header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap .close-btn {
              position: absolute;
              right: 0;
              bottom: 0;
              width: 40px;
              height: 40px;
              border: none;
              background-color: #0067b3;
              font-size: 2.4rem;
              color: white;
              cursor: pointer; }
    @media (max-width: 1280px) {
      header nav .mobile__wrap {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: white;
        z-index: 8; }
        header nav .mobile__wrap--header {
          display: block;
          height: 50px;
          line-height: 50px;
          padding-left: 20px;
          border-bottom: 3px #003876 solid;
          font-size: 1.8rem; }
        header nav .mobile__wrap ul.header__nav {
          display: flex;
          width: 100px;
          height: 100%;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          background-color: #eaeaec; }
          header nav .mobile__wrap ul.header__nav > li {
            width: 100px;
            margin: 0;
            text-align: center; }
            header nav .mobile__wrap ul.header__nav > li.on {
              background-color: #003876;
              color: white; }
            header nav .mobile__wrap ul.header__nav > li > a {
              padding: 20px 10px; }
            header nav .mobile__wrap ul.header__nav > li .header__fullSub {
              position: absolute;
              left: auto;
              right: 0px;
              top: 50px;
              width: calc(100% - 100px);
              z-index: 9; }
              header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap {
                padding: 0;
                flex-direction: column; }
                header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub {
                  width: 100%; }
                  header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li {
                    position: relative;
                    border-bottom: 1px #eaeaec solid;
                    text-align: left; }
                    header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li ::after {
                      content: "";
                      position: absolute;
                      right: 20px;
                      top: 19px;
                      width: 13px;
                      height: 7px;
                      background: url(../images/ir_common.png) -59px -109px no-repeat;
                      z-index: 1; }
                    header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li.on ::after {
                      background: url(../images/ir_common.png) -59px -120px no-repeat; }
                    header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li.on ul {
                      display: block; }
                    header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li > a {
                      display: block;
                      padding: 1.5rem;
                      font-size: 1.6rem;
                      color: black; }
                      header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li > a:hover {
                        color: #0067b3;
                        font-weight: bold; }
                    header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li ul {
                      display: none;
                      margin: 0;
                      padding: 1.5rem;
                      border-top: 1px #eaeaec solid; }
                      header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li ul > li {
                        margin: 1rem 0 1rem 0; }
                        header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap ul.header__sub > li ul > li > a {
                          display: block;
                          color: #767676;
                          font-size: 1.6rem; }
                header nav .mobile__wrap ul.header__nav > li .header__fullSub .wrap .close-btn {
                  display: none; } }

main section {
  margin-bottom: 50px; }

main .main__visual {
  width: 100%; }
  main .main__visual .main__visual--swiper {
    max-height: 100vh; }
    main .main__visual .main__visual--swiper .swiper-wrapper .main__visual--slide {
      width: 100%; }
      main .main__visual .main__visual--swiper .swiper-wrapper .main__visual--slide img {
        width: 100%;
        height: 100%; }
      main .main__visual .main__visual--swiper .swiper-wrapper .main__visual--slide .visual__text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        text-shadow: 0px 0px 1px black; }
        main .main__visual .main__visual--swiper .swiper-wrapper .main__visual--slide .visual__text--slogan {
          font-size: 4.2rem;
          font-weight: bold;
          margin-bottom: 20px; }
        main .main__visual .main__visual--swiper .swiper-wrapper .main__visual--slide .visual__text--content {
          font-size: 2.0rem; }

.grid::after {
  content: "";
  display: block;
  clear: both; }

.grid-item {
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  transition: .3s ease;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 1px black; }

.grid-item img {
  display: block;
  min-width: 100%;
  max-width: 100%; }
