@import './module';
@import './var';

html{ font-size:10px;}
body{ font-size:1.4rem;  font-family: 'NanumBarunGothic', sans-serif;}
.flex-between{ display:flex; justify-content : space-between; align-items: center;}
.wrap{ max-width:1280px; width:100%; overflow:hidden; margin:0 auto;
    @include tablet{ width:100%; padding:0 20px;}
}
.hide{ display:none;}

